{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Add a New Account {% endblock %}</h1>
<form method="post">
<label for="user_name">User Name</label>
<br>
<input type="text" name="user_name"
    placeholder="User Name"
    value="{{ request.form ['user_name'] }}">
    <br>
    <label for="pass_word">Password</label>
    <br>
    <input type="password" name="pass_word" placeholder="Password" 
        value="{{ request.form ['pass_word'] }}">
        <br>
        <button type="submit">submit</button>
</form>
{% endblock %}